<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add an animal</title>
</head>
<body>
	<form action="/main" method="post">
		Name:	<input type = "text" name = "name">
		Weight:<input type = "text" name = "weight">
		type:<input type = "text" name = "type">
		<input type = "submit" value="submit">
	<form>	
</body>
</html>